.modal_content_type_delete {
  max-width: 670px;
  max-height: 280px;
  text-align: center;
  padding: 60px 152px 60px 151px;
  margin: 0;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.modal__heading-delete {
  margin: 0 0 40px 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 367px;
  height: 48px;
  text-align: center;
}
.modal__delete-confirm {
  width: 367px;
  height: 48px;
  align-self: center;
  background-color: transparent;
  border: none;
  margin: 0 0 24px 0;
  padding: 0;
  color: #ff4d00;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.modal__delete-cancel {
  width: fit-content;
  align-self: center;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.modal__close-icon {
  position: absolute;
  top: calc(50% - 10px);
  right: calc(50% - 10px);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
